
.header {

  height: 66px;
  background: black;
  border-bottom: 4px solid $red;
  display: flex;
  justify-content: space-between;
  align-items: center;

  > div {
    display: flex;
    align-items: center;
  }

  &__social {
    background: $red;
    float: right;
    height: 66px;
    padding: 0 15px;
    line-height: 66px;
  }



  .header__social {
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-transform: uppercase;
    color: #fff;
    div {
      display: flex;
      margin: 0 6px;
      &:last-of-type {
        margin-right: 0;
      }
    }
    a {
      display: flex;
      align-items: center;
    }
    span {
      // the share word doesnt want to vertically center, font issues
      line-height: 1px;
    }
  }
}

.logo, .logo--live-nation {
  display: inline-block;
  margin: 0 10px;
}
.logo {
  margin-left: 33px;
  height: 33px;
  img {
    height: 33px;

  }
}
.logo--live-nation {
  height: 29px;
}


nav {
  display: inline-block;
}
